body {
  background-color: #4EA6BA
}

#titulo1 {
  text-align: center;
  color:black;
  font-size: 60pt;
}
div {
  text-align: center;
}

.mesas {
   border: thin solid black;
   width: 90px;
   height: 50px;
   margin: 10px;
   float: right;
   background-color: #04B45F

}
